a.key-link { margin-bottom: 5px; }
#addmodelbutton { float: right; width: 40px; min-width: 40px; height: 35px; margin-bottom: 5px; margin-right: 10px; }
#entrylayerarea { padding-top: 0px; }
#entrylayer { margin-top: 0px; }
#fsmodeltabbar { margin-right: 10px; }
.del-linker { padding-left: 5px; }
#connectsettinginfo_label { font-size: 0.9rem; }
#connectbodyinfo_label { font-size: 0.9rem; }
#shareflagbox { margin-top: 35px; }
